/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@media screen and (max-width: 950px) {
  .heroBanner {
    flex-direction: column;
    width: 100%;
  }
}

.heroBanner {
  left: 50%;
  align-content: center;
  align-items: center;
  alignment: center;
  background: white;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.right {
  float: right;
  width: 60%;
}
