/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  left: 50%;
  align-content: center;
  align-items: center;
  alignment: center;
  background: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: left;
}

.right {
  float: right;
  width: 60%;
}
